{% extends "base.html" %}

{% block app_content %}
    <div class="errorpage text-center">
        <h1>500<br>{{ _('Internal Server Error') }}</h1>
        <p>{{ _('The loo is clogged!') }}</p>
        <p>{{ _('An unexpected error has occured.') }}</p>
        <p>{{ _('The administrator has been notified, sorry for the inconvenience!') }}</p>
        <img src="{{ url_for('static', filename='img/500.png') }}" alt="">
    </div>

    <button class="btn btn-default"><a href="{{ url_for('main.index') }}">{{ _('Back') }}</a></button>

{% endblock %}