{% extends 'base.html' %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}" alt=""></td>
            <td><h1>User: {{ user.username }}</h1>
                {% if user.last_on %}
                    <p>Last On: {{ user.last_on }}</p>
                {% endif %}
            </td>
            <td>Manage your profile picture using <a href="https://en.gravatar.com/">Gravatar</a></td>
        </tr>
    </table>
    <hr>
    {% for bathroom in bathrooms %}
        {% if bathroom.creator == current_user %}
            {% include '_post.html' %}
        {% endif %}
    {% endfor %}
{% endblock %}